<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <resource>RltSquare_SplitOrder::config</resource>
            <group id="module" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label">
                <label>Order Split BigBuy and VidaXl Based on Drop shipper</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="attributes" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Attribute to Split</label>
                    <source_model>RltSquare\SplitOrder\Model\Config\Source\Attributes</source_model>
                    <comment>Select an attribute to be compared, will be split products with different attribute
                        values.
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="shipping" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Split Shipping Total</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Split shipping total between orders, otherwise, place shipping total to one order only.
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>







